
* {
    box-sizing: border-box;
    text-align: center;
}
body {
    background-color: #777777;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif; 
    max-width: 960px;   
    margin: 0 auto;
    margin-top: 10px;
}
.header {
    background-color: #ebebeb;
    text-align: center;
    padding: 20px;
    margin: 0;
}
.nav {
    background-color: #ebebeb;
    text-align: center;
    padding: 20px;
}
.section {    
    position: relative;
    float: left;
    background-color: #ebebeb;
    padding: 40px;
    height: 250px;
    width: 50%;        
}
.article {    
    position: relative;
    background-color: #777777;
    text-align: center;
    padding: 20px;
    bottom: -10px;
    left: 5%;
    width: 90%;
}
.h123 {
    background-color: #ebebeb;
    padding: 10px;  
    margin-bottom: 10px;  
}
.p {
    background-color: #ebebeb;
    padding: 10px;    
}
.aside {
    float: right;
    background-color: #ebebeb;
    padding: 50px;
    Height: 250px;
    /* line-height: 160px; */
    width: 49%;
}

.footer {
    background-color: #ebebeb;
    text-align: center;
    padding: 20px;
    margin-top: 290px;
    
}